




@charset "utf-8";
/* CSS Document */
body {
    font-family: 'Open Sans', sans-serif !important;
    background: #dfdfdf !important;
}
/*-------------------------------about page css---------------------*/

.aboutContent
{
    padding: 40px;
    text-align: justify;    
}

.aboutContent h2{
    color: #eaa312;
    margin-bottom: 33px;
}
.aboutContent h4
{
    color:#178f8f;
    margin-top: 20px;
}

