<!--img [src]="imagepaths" /-->
<div class="container" style="height:fit-content">
    <nav>
    <ul >
        <img src="assets/threelions.png" alt="Threelionslogo">
<h1 style="font:boldler; color: black;" >&nbsp;&nbsp;&nbsp;&nbsp;National Scholarship Portal</h1>
<h2 style="font:boldler; color: black;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Government of India</h2>

    </ul>
  </nav>
</div>

<div class="topnav">
  <nav>
  <div class="menu">
      <div class="container">
          <ul class="main-navigation">
            
              <li ><a routerLink="/"><strong> HOME </strong></a></li>
              <li><a routerLink="/aboutUs"><strong>ABOUT US</strong></a></li>
              <li><a routerLink="/contactUs"><strong>CONTACT US</strong></a></li>
              <li><a routerLink="/std_reg"><strong>STUDENT REGISTRATION</strong></a></li>
              <li><a routerLink="/inst_reg"><strong>INSTITUTION REGISTRATION</strong></a></li>    
              <li><a routerLink="/studentlogin"><strong>STUDENT LOGIN</strong></a></li>
              <li><a routerLink="/institutionlogin"><strong>INSTITUTION LOGIN</strong></a></li>
              <li><a routerLink="/ministry_login"><strong>MINISTRY LOGIN</strong></a></li>
              <li><a routerLink="/nodal_login"><strong>NODAL LOGIN</strong></a></li>
            
                
              
        
          </ul>
              </div>
              </div>
              </nav>
  </div>

 

   

 